body {
    background:#222;
    color:#fff;
    font-family:system-ui;
    padding:16px;
}

table {
    border-collapse:collapse;
    width:100%;
}

td, th {
    border:1px solid #555;
    padding:10px;
    vertical-align:top;
}

th {
    background:#333;
}

.orb-name {
    font-weight:600;
    margin-bottom:4px;
}

.orb-desc {
    opacity:0.85;
    margin-bottom:6px;
}

.orb-detail {
    font-size:14px;
    line-height:1.4;
}

.orb-icon {
    width:16px;
    vertical-align:middle;
    margin-right:4px;
}